
#title-section h1{
    color: grey;
    font-size: 28px;
    text-align: center;
}

table{
    border-collapse: collapse;
    text-align: center; 
    width: 100%;
}

/*Moglo je takodje da ide sve preko table pa da stavimo:

    margin-left: 10%, margin-right:10%, margin-top:5% i onda da stavimo width:80%
*/

#table-section{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
}

img {
    width: 190px;
    height: 100px;
}

/*Sada CSS za parne i neparne redove tabele. Koristicemo nth child i kao argument predati even i odd*/

tr:nth-child(odd){
    background-color: white;   
}

tr:nth-child(even){
    background-color: #E9ECEF;
}

.border{
    border : solid;
}